<div id="<%= dom_id personal %>">
    <p>
        <strong>Address:</strong>
        <%= personal.address%>
    </p>
    <p>
        <strong>Photo:</strong>
        <%= personal.photo%>
    </p>
</div>